In [1]:
import pandas as pd

In [2]:
# 2글자 장르

# def addCols(fileName):
#   df = pd.read_csv(fileName, index_col=[0])
#   df.insert(0, '장르', fileName[-6:-4])
#   df.insert(1, '제목', fileName[:-7])
#   df.insert(2, '회차', [i for i in range(1, len(df)+1)])
#   return df

In [2]:
# 3글자 장르

def addCols(fileName):
  df = pd.read_csv(fileName, index_col=[0])
  df.insert(0, '장르', fileName[-7:-4])
  df.insert(1, '제목', fileName[:-8])
  df.insert(2, '회차', [i for i in range(1, len(df)+1)])
  return df

In [4]:
# 4글자 장르

# def addCols(fileName):
#   df = pd.read_csv(fileName, index_col=[0])
#   df.insert(0, '장르', fileName[-8:-4])
#   df.insert(1, '제목', fileName[:-9])
#   df.insert(2, '회차', [i for i in range(1, len(df)+1)])
#   return df

In [ ]:
#@title
# df1 = addCols('결혼생활그림일기_일상.csv')
# df1.info()
# df1

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109 entries, 0 to 108
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   장르      109 non-null    object
 1   제목      109 non-null    object
 2   회차      109 non-null    int64
 3   좋아요수    109 non-null    int64
 4   평점      109 non-null    float64
 5   평점기여자수  109 non-null    int64
 6   전체댓글수   109 non-null    int64
 7   베댓공감수   109 non-null    int64
 8   베댓비공감수  109 non-null    int64
dtypes: float64(1), int64(6), object(2)
memory usage: 8.5+ KB

     장르        제목   회차   좋아요수    평점  평점기여자수  전체댓글수  베댓공감수  베댓비공감수
0    일상  결혼생활그림일기    1  15274  9.84   25871   1507  44769     960
1    일상  결혼생활그림일기    2  12651  9.75   20780   1208  39838     776
2    일상  결혼생활그림일기    3   9564  9.87   13535    753  25199     560
3    일상  결혼생활그림일기    4   8820  9.92   12078    615  29143     408
4    일상  결혼생활그림일기    5   8182  9.93   11313    658  26372     294
..   ..       ...  ...    ...   ...     ...    ...    ...     ...
104  일상  결혼생활그림일기  105   3831  9.98    5336    158   6615      29
105  일상  결혼생활그림일기  106   3419  9.98    4767    141  12002      47
106  일상  결혼생활그림일기  107   3488  9.97    5209    141  10131      67
107  일상  결혼생활그림일기  108   3255  9.98    4768    235  13034      31
108  일상  결혼생활그림일기  109   2695  9.98    4045    143  10034      20

[109 rows x 9 columns]

In [3]:
fileNames = [
  'MLB카툰_스포츠.csv',
  '가비지타임_스포츠.csv',
  '격기3반_스포츠.csv',
  '그린보이_스포츠.csv',
  '빅맨_스포츠.csv',
  '빌드업_스포츠.csv',
  '윈드브레이커_스포츠.csv',
  '자율공상축구탐구만화_스포츠.csv',
  '탑코너_스포츠.csv',
]

dfs= []

for fileName in fileNames:
  dfs.append(addCols(fileName))

In [12]:
dfs[8]

      장르   제목   회차   좋아요수    평점  평점기여자수  전체댓글수   베댓공감수  베댓비공감수
0    스포츠  탑코너    1  13764  9.60   11561   3474  105019    2820
1    스포츠  탑코너    2  10087  9.72    7845   1057   27155    1995
2    스포츠  탑코너    3   9427  9.80    9254    709   27480    1501
3    스포츠  탑코너    4   8673  9.89    6499    766   53656    1397
4    스포츠  탑코너    5   8199  9.91    6177    272   14426     251
..   ...  ...  ...    ...   ...     ...    ...     ...     ...
118  스포츠  탑코너  119   2523  9.89    2307     70    5444      63
119  스포츠  탑코너  120   2393  9.95    2144     66    4014      53
120  스포츠  탑코너  121   2206  9.21    2301    150    5077     239
121  스포츠  탑코너  122   2121  9.89    2117     75    3354      30
122  스포츠  탑코너  123   1932  9.84    1837    105    5232      36

[123 rows x 9 columns]

In [13]:
new_df = pd.concat(dfs)

In [14]:
new_df.set_index(pd.Series(range(len(new_df))), inplace=True)

In [15]:
new_df

       장르     제목   회차  좋아요수    평점  평점기여자수  전체댓글수  베댓공감수  베댓비공감수
0     스포츠  MLB카툰    1    13  7.17     893    739     22       1
1     스포츠  MLB카툰    2     9  7.35     512    296      6       0
2     스포츠  MLB카툰    3     8  7.46     408    179      7       2
3     스포츠  MLB카툰    4     9  7.77     374    153      8       2
4     스포츠  MLB카툰    5     6  7.84     316    148     18      17
...   ...    ...  ...   ...   ...     ...    ...    ...     ...
1946  스포츠    탑코너  119  2523  9.89    2307     70   5444      63
1947  스포츠    탑코너  120  2393  9.95    2144     66   4014      53
1948  스포츠    탑코너  121  2206  9.21    2301    150   5077     239
1949  스포츠    탑코너  122  2121  9.89    2117     75   3354      30
1950  스포츠    탑코너  123  1932  9.84    1837    105   5232      36

[1951 rows x 9 columns]

In [16]:
new_df.to_csv('스포츠.csv', index=False)

In [17]:
pd.read_csv('스포츠.csv')

       장르     제목   회차  좋아요수    평점  평점기여자수  전체댓글수  베댓공감수  베댓비공감수
0     스포츠  MLB카툰    1    13  7.17     893    739     22       1
1     스포츠  MLB카툰    2     9  7.35     512    296      6       0
2     스포츠  MLB카툰    3     8  7.46     408    179      7       2
3     스포츠  MLB카툰    4     9  7.77     374    153      8       2
4     스포츠  MLB카툰    5     6  7.84     316    148     18      17
...   ...    ...  ...   ...   ...     ...    ...    ...     ...
1946  스포츠    탑코너  119  2523  9.89    2307     70   5444      63
1947  스포츠    탑코너  120  2393  9.95    2144     66   4014      53
1948  스포츠    탑코너  121  2206  9.21    2301    150   5077     239
1949  스포츠    탑코너  122  2121  9.89    2117     75   3354      30
1950  스포츠    탑코너  123  1932  9.84    1837    105   5232      36

[1951 rows x 9 columns]